
body{
    background-color: black;
  }
    

.input_section{
    
    
}
#ClueScroll{
    margin: 80px 510px 50px;


}

#itemToInput{
    top: 60%;
    right: 50%;
    text-align: center;
    position: absolute ;
    background-color: white;
}
#Search{
    top: 60%;
    right: 47%;
    text-align: center;
    position: absolute ;

}
.side_bar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:tan    
    
}
.side_bar a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}
.side_bar a:hover{
    background-color: brown;
}

ul{
    display: block;
}
