
body{
    width: 100%;
    height: 720px;
    background-image: url("imgs/grass_pokemon.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
  } 
.search-boxes #pokeball{
    right: 8.8%;
    position: absolute;
    top: 70%;
    height: 150px;
    border-radius: 70px;   
}
#pokeDex{
    right: 0%;
    position: absolute;
    height: 1000px;
}
#itemToInput{
    border-radius: 40px;
    top: 58%;
    right: 49%;
    text-align: center;
    position: absolute ;
    background-color: teal;
}
/* button search  */
#Search{
    top: 76.6%;
    right: 11.7%;
    width: 25px;
    height: 26px;
    text-align: center;
    position: absolute ;
    border-radius: 50px;
    cursor: pointer;
}
#Search:hover{
    background-color: yellow;
}

#sprite{
    top: 30%;
    right: 10%;
    position: absolute;
    transform: scale(5);
}

#poke_info{
    right: 15%;
    top: 55%;
    position: absolute;
    column-span: 8;
    border: none;
    outline: none;
    background: transparent;
    
}





